.itemList{
    
    width: 65vw;
    height: 65vh;
    margin-top: -100px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    /* background-color: rgb(217, 218, 218); */
    background-color: #e0dede;
}

.itemList h3{
    color: rgb(57, 57, 57);
    margin-left: 10px;
    margin-top: 10px;
}
.btnAddItem{
    width: 120px;
    height: 40px;
    font-size: medium;
    margin-left: 55vw;
    margin-top: -45px;
}
.itemCards{
    width: 60vw;
    height: 55vh;
    /* padding: 40px 105px; */
    margin-left: 10px;
    display: grid;
    grid-template-columns: repeat(3,3fr);
  
    overflow: scroll;
    
}

.itemCards .card{
    width: 240px;
    height: 170px;
    background-color: antiquewhite;
    margin-top: 30px;
    border-radius: 18px;
    display: flex;
    flex-direction: row;
   
}
.itemCards .card .details{
    display: grid;
    grid-template-columns:  repeat(1,3fr);
    margin-left: 25px;
}
.itemCards .card .detRow{
    display: grid;
    grid-template-columns: repeat(1,2fr);
    
    margin-left: 7px;
}
.itemCards .card .detRow span{
   margin-top: 20px;
   margin-bottom: -16px;
   font-weight: 100;
   font-size: small;
   margin-left: -10px;
    
}
.itemCards .card .imgItem{
    width: 60px;
    margin-top: 50px;
    border-radius: 10px;
    margin-left: 10px;
}
.itemCards .card .row h5{
    font-size: large;
    font-weight: 500;
    font-style: normal;
    align-self: center;
    text-align: center;
}

.itemCards .card .itemWgt .symb{
    margin-left: 80px;
    margin-top: 15px;
   
}
.itemCards .card .itemWgt{
    margin-top: 10px;
}

#small-modal{
    /* display: flex;
    justify-content: center;
    align-items: center; */
  
    background-color: rgba(245, 244, 243, 0.347);
    backdrop-filter: blur(3px);
}
.addForm{
    width: 34vw;
    background-color: #FFFFFF;
    height: 70vh;
}

.addForm h3{
    margin-top: 30px;
}

.detRow{
    display: flex;
    flex-direction: column;
}

.midRow{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}