

.topBar{
  
    width: 40vw;
    height: 9vh;
    margin-left: 1vw;
   /* background-color: blue; */
   /* @apply sm:w-1/2 md:w-2/3; */
}
.topRow{
    width: 82=4vw;
    
    height: 10vh;
    background-color: #e0dede;
    
    margin-top: 3px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
   
    justify-content: center;
    backdrop-filter: blur(15px);
    display: grid;
    grid-template-columns: repeat(2,1fr);

    /* @apply sm:grid-cols-1 md:grid-cols-2 lg:mt-2; */

    /* @apply sm:h-[8vh] md:h-[10vh]; */
}

.topRow h1{
    margin-left: 0px;
}
.accountBar{
    width: 150px;
    border-radius: 40px;
    height: 50px;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: rgb(255, 255, 255);
    margin-left: 24vw;

    /* @apply sm:w-[120px] md:w-[130px] lg:ml-[20vw]; */
}

.accountBar img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.accountBar button{
    margin-top: 20px;
    margin-left: 1px;
    display: grid;
    grid-template-columns: repeat(3,1fr);

    /* @apply sm:mt-[10px] lg:ml-[2px]; */
}
/* .accountBar button  {
    width: 80px;
} */
.accountBar button span{
    margin-left: -20px;
    align-self: center;
    font-size: small;
    margin-top: -2px;
}
.accountBar button   svg{
    align-self: center;
    margin-left: 10px;
    margin-top: -2px;
}


@media (max-width: 998px){
    .rightCont{
       width: 80vw;
    };
    .topRow ,.topBar{
        width: 70vw;
        margin-left: 15vw;
    }
    .accountBar button span{
        margin-left: 10px;
        font-size: smaller;
    }
}

@media (max-width: 768px) {
    .topRow {
      grid-template-columns: 1fr; /* Stacks columns */
      height: 25vh;/* Adjust height for smaller screens */
      display: flex;
      flex-direction: column;
    
    }
    .topBar{
        display: flex;
        flex-direction: row;
    }
    .accountBar{
       /* margin-left: 45vw;  */
       width: 115px;
    }
    .accountBar button span{
        margin-left: 6px;
        font-size: smaller;
    }
    .accountBar button {
        margin-left: 1px;
    }
    .accountBar img{
        width: 25vw;
        height: 17vh;
        border-radius: 50%;
    }
    .leftCont {
      width: 20vw; /* Increase width slightly */
      height: calc(100vh - 8vh); /* Adjust height */
    }
  
    .rightCont {
      width: 80vw; /* Adjust width */
      height: calc(100vh - 8vh);
     /* Adjust height */
    }
    .topRow ,.topBar{
        width: 60vw;
        margin-left: 15vw;
    }
  }
  
  @media (max-width: 640px) {
    .leftCont {
      width: 25vw; /* Further adjustment */
      flex-direction: column; /* Stack content vertically */
      height: 100vh;
    }
  
    .rightCont {
      width: 75vw;
       /* Adjust width accordingly */
       height: 100vh;
    }
  
    .topRow {
      height: 7vh; /* Further reduce height */
    }
  }