
.baseCont{
   
    display: grid;
    grid-template-columns: repeat(1,3fr);
    width: 85vw;
    height: 100vh;
    background-color: #e0dede;
    margin-left: 12.1%;
   margin-top: 0px;
}

.baseCont .hRow{
    width:85vw;
    height: 20%;
    padding: 0;
    margin-top: 1px;
    /* background-color: aquamarine; */
   
}
.baseCont h3{

    margin: 10px;
    margin-left: 30px;
    
}


.hLine{
    margin-top: -200px;
    width: 85vw;
    height: 1px;
    background-color: black;
    
}
.middleBox{
    position: relative;
    width: 60vw;
    height: 35vh;
    /* margin-top: -350px; */
    margin-top: -400px;
    margin-left: 10px;
    margin-bottom: 0px;
    display: grid;
    grid-template-columns: repeat(3,3fr);
    background-color: bisque;
}
.middleBox a img{
    width: 47%;
    height: 56%;
    padding-left: 6%;
    border-radius: 30%;
}
.middleBox a button{
    
    width: 200px;
    height: 80px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    margin: 10px;
    border-radius: 15px;
    
}

.middleBox a button span{
    margin-left: -80%;
}