
.baseCont{
   
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 60vh;
    background-color: #e0dede;
    
  
}

.baseCont .hRow{
    display: flex;
    width:70vw;
    /* background-color: blueviolet; */
    height: 10vh;
    padding: 0;
    margin-top: -100px;
   
   
}
.baseCont h3{

    display: flex;
    margin-left: 10px;
    
}


.hLine{
    display: flex;

    width: 82vw;
    height: 1px;
    background-color: black;
    
}
.middleBox{
    
    position: relative;
    width: 60vw;
    height: 40vh;
    margin-top: 10px; 
    
    display: grid;
    grid-template-columns: repeat(3,3fr);
    background-color: bisque;
}
.middleBox a img{
    width: 47%;
    height: 56%;
    padding-left: 6%;
    border-radius: 30%;
}
.middleBox a button{
    
    width: 200px;
    height: 80px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    margin: 10px;
    border-radius: 15px;
    
}

.middleBox a button span{
    margin-left: -80%;
}